/* fonts */

/* stilizzazione */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s ease;
}
body{
    background-color: #0F172A;
    font-family: "montserrat";
    font-weight: 500;
}

p{
    margin: 0;
    /* color: #fff; */
}
ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    color: #fff;
    text-decoration: none;
}

/* header */

header{
    width: 100%;
    height: 4vw;
    background-color: #020617;
    font-size: 1.76vw;
    font-family: "Montserrat";
    font-weight: 600;
    border-bottom: #fff solid 1px;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header ul{
    font-size: 1vw;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

header ul li a i{
    transition: all 0.4s ease;
    color: #ccc;
}

header ul li a i:hover{
    scale: 1.25;
}

/* footer */

.footer{
    width: 100%;
    background-color: #020617;
    height: 65px;
    margin-top: 40px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.footer div{
    width: 50%;
    display: flex;
    /* gap: 5px; */
    align-items: center;
    /* justify-content: center; */
    color: #fff;
    font-size: 14px;
}

.footer div a{
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all ease 0.3333s;
}

.footer div a:hover{
    text-decoration: underline;
    color: #aaa;
}

.footer div:nth-last-child(1){
    justify-content: end;
}


/* home */

.main{
    width: calc(100% - 40px);
    height: 23vw;
    margin: 20px auto;
    /* height: 300px; */
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: #fff; */
    color: #fff;
}

.main .content_box{
    width: 600px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: #fff; */
}

.main .title{
    font-weight: 600;
    font-size: 2.25vw;
}

.main .subtitle{
    font-weight: 500;
    font-size: 1.175vw;
}

.cards_box{
    width: calc(100%-40px);
    margin: 0 auto;
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards_box .separator{
    width: 100%;
    /* background-color: #fff; */
    /* height: 100px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.18vw;
    font-weight: 500;
    padding: 40px 0;
    text-align: center;
}

.cards_box .stroke{
    width: 40%;
    height: 2px;
    background-color: #fff;
}

.cards{
    width: 100%;
    /* height: 500px; */
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    column-gap: 5.352vw;
    row-gap: 85px;
    flex-wrap: wrap;
    padding: 0 20px;
}

/* stilizzazione Bootstrap */
.button_main{
    font-size: 1vw;
}

.bold{
    font-weight: bold;
}

.card{
    height: 495px;
    width: 26rem;
    /* height: fit-content; */
    background-color: #1E293B;
    color: #fff;
}

.btn-primary{
    background-color: #2194C7;
    border: none;
    width: calc(50% - 3px);
}
.btn-outline-primary{
    border-color: #2194C7;
    color: #2194C7;
    width: calc(50% - 3px);
}

.btn-primary:hover{
    background-color: #0E6792;
    border: none;
}


.btn-outline-primary:hover{
    background-color: #fff0;
    color: #0E6792;
    border-color: #0E6792;
}

.card-text{
    margin-bottom: .75rem;
}

.full_width{
    width: 100%;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Responsive */
@media only screen and (max-width: 1060px) {
  header{
    font-size: 2vw;
    height: 4.5vw;
  }
  header i{
    font-size: 1.6vw;
  }
  .main .title{
    font-size: 48px;
  }
  .main .subtitle{
    font-size: 24px;
  }
  .main{
    height: 400px;
  }
  .card{
    width: 28rem;
    height: 520px;
  }
  .cards_box .separator{
    font-size: 24px;
  }
  .button_main{
    font-size: 20px;
  }
}

@media only screen and (max-width: 860px) {
  header{
    font-size: 4vw;
    height: 10vw;
  }
  header i{
    font-size: 3.6vw;
  }
  .main .title{
    font-size: 48px;
  }
  .main .subtitle{
    font-size: 24px;
  }
  .main{
    height: 400px;
  }
  .cards_box .separator{
    font-size: 24px;
  }
}

@media only screen and (max-width: 450px) {
  header{
    font-size: 4vw;
    height: 10vw;
  }
  header i{
    font-size: 3.6vw;
  }
  .main .title{
    font-size: 36px;
  }
  .main .subtitle{
    font-size: 20px;
  }
  .main{
    height: 400px;
  }
  .cards_box .separator{
    font-size: 24px;
  }
  .footer div{
    font-size: 3vw;
  }
  .button_main{
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .button_main{
    font-size: 12px;
  }
}