/* fonts */

/* stilizzazione */
body{
    padding: 0;
    margin: 0;
    background-color: #fff;
}

p{
    margin: 0;
    /* color: #fff; */
}
ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    color: #fff;
    text-decoration: none;
    font-family: vampire_wars_regular;
}

/* home */

header{
    width: 100%;
    /* height: 300px; */
    background-color: #8c11bd;
    font-size: 36px;
    font-family: "Rouge Script", cursive;
    font-weight: 500;
    border-bottom: #000 solid 4px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header ul{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

header ul li a i{
    transition: all 0.4s ease;
    color: #ccc;
}

header ul li a i:hover{
    scale: 1.25;
    color: #000;
}

.main{
    width: calc(100% - 40px);
    margin: 0 auto;
    /* height: 300px; */
    /* background-color: #fff; */
    margin-top: 100px;
    box-sizing: border-box;
    padding: 40px;
}

.main ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.main ul li{
    width: 25%;
    height: 400px;
    /* background-color: #8c11bd; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: #000 solid 3px;
    box-sizing: border-box;
    padding: 50px 25px;
    background-color: #F2F2EB;
    border-radius: 10px;
}

.main ul p{
    font-size: 36px;
    font-weight: 500;
    font-family: "montserrat";
}

.main ul div{
    width: 100%;
    height: 200px;
    background-image: url("../img/Photo_work_2.jpg");
    background-position: center 70%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease all;
}

.main ul div:hover{
    scale: 1.07;
}

.main ul div a{
    width: 100%;
    height: 100%;
    display: block;
}

.main .foto_1{
    background-image: url("../img/Photo_work_2.jpg");
}

.main .foto_2{
    background-image: url("../img/home_photo_5.png");
    background-position: center 20%;
}

.main .foto_3{
    background-image: url("../img/punto_intterrogativo.png");
    background-position: center 20%;
}